@model Shopping.Data.Entities.State

@{
    ViewData["Title"] = "Detalles";
}
@section Styles {
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.5/datatables.min.css" />
}

<h1>@ViewData["Title"]</h1>

<div>
    <partial name="_StateDetails" />
</div>
<div>
    <a asp-action="AddCity" asp-route-countryId="@Model?.Id" class="btn btn-outline-primary">Agregar Ciudad</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar Departamento/Estado</a>
    <a asp-action="Details" asp-route-id="@Model?.CountryId" class="btn btn-outline-success">Regresar</a>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Ciudades</h3>
            </div>
            <div class="panel-body table-responsive">
                <table id="myTable" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Cities.FirstOrDefault().Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Cities)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a asp-action="EditCity" asp-route-id="@item.Id" class="btn btn-outline-warning">Editar</a>
                                    <a asp-action="DetailsCity" asp-route-id="@item.Id" class="btn btn-outline-info">Detalle</a>
                                    <a asp-action="DeleteCity" asp-route-id="@item.Id" class="btn btn-outline-danger">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.5/datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myTable").DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
            }
        });
    })
</script>
}